{% extends "site.layout.html" %}

{% block title %}{{ good.title }}, где купить, сколько стоит{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div>
            {% for parent in parents %}
                <a href="/goods/view/{{ parent.id }}">{{ parent.title }}</a> /
            {% endfor %}
        </div>
        <h1>{{ good.title }} <a class="pull-right" href="/goods/edit/{{ good.id }}"><span class="glyphicon glyphicon-edit"></span></a></h1>
        <div class="row">
            <div class="col-xs-12">
                {{ good.bar_code }}
                {% for image in images %}
                    <img src="{{ image.image.url }}" height="100">
                {% endfor %}

                <div>
                    Минимальная цена:
                    {{ good.min.shop.title }}
                    {% if good.packed %}{{ good.min.pack_cost_str }}р/уп{% endif %}
                    {{ good.min.unit_cost_str }}р/{{ good.unit.title }}
                </div>

                <div>
                    Максимальная цена:
                    {{ good.max.shop.title }}
                    {% if good.packed %}{{ good.max.pack_cost_str }}р/уп{% endif %}
                    {{ good.max.unit_cost_str }}р/{{ good.unit.title }}
                </div>

                {% if children %}
                    <ul class="list-group">
                    {% for child in children %}
                        <li class="list-group-item">
                            {{ child.bar_code }} <a href="/goods/view/{{ child.id }}">{{ child.title }}</a>

                            <div>
                                Минимальная цена:
                                {{ child.min.shop.title }}
                                {% if child.packed %}{{ child.min.pack_cost_str }}р/уп{% endif %}
                                {{ child.min.unit_cost_str }}р/{{ child.unit.title }}
                            </div>

                            <div>
                                Максимальная цена:
                                {{ child.max.shop.title }}
                                {% if child.packed %}{{ child.max.pack_cost_str }}р/уп{% endif %}
                                {{ child.max.unit_cost_str }}р/{{ child.unit.title }}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <h2>Цены</h2>
                    <div class="list-group">
                    {% for cost in costs %}
                        <div class="list-group-item">
                            {{ cost.shop.title }}
                            {% if good.packed %}{{ cost.pack_cost_str }}р/уп{% endif %}
                            {{ cost.unit_cost_str }}р/{{ good.unit.title }}
                            <span title="{{ cost.timestamp|date }}" class="pull-right glyphicon glyphicon-time"></span>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}